.App {
  text-align: center;
}

.Header {
  background-color: #667292;
  color: #fff;
  margin-bottom: 50px;
}

.App-main {
  display: grid;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Pic {
  height: 500px;
}

.Refresh-btn {
  margin-top: 20px;
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #667292;
  color: #fff;
  font-size: 15px

}

.Refresh-btn:active  {
  margin-top: 22px;
}

